@{
    ViewBag.Title = "ComingSoon";
}


<head>
<style>
    body, html {
        height: 100%
    }
    p {
        background: red;
    }
 /* Setting The Background image */
    bgimg {
        background-image: url('C:\Users\admin2\source\repos\HaloKDACalculator\HaloPictures\Halo5Background.jpg');
        background-position: center;
        background-size: cover;
        position: relative;
        color: black;
        position: relative;
        color: black;
        font-family: "Courier New", Courier, monospace;
        font-size: 25px;
    } 

    /* Text Float Top Left */
    topleft {
        position: absolute;
        top: 0;
        left: 16px;
    }

    /* Text section in the bottom Left */
    bottomleft {
        position: absolute;
        bottom: 0;
        left: 16px;
    }

    /* Main Banner Middle of th page */
    middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }    
</style>
    </head>

<body>

    <div class="bgimg">
        <div class="topleft">
            <p>Team Leaderboard</p>
        </div>
        <div class="middle">
            <h1>COMING SOON</h1>
        </div>
        <div class="bottomleft">
            <p>Thank you for showing interest in the LeaderBoard. We are working hard to get it up and running. Please keep checking back for updates on progress </p>
        </div>
    </div>
</body>
    }
